section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5vh auto;
}

h1 {
    font-size: 2.5rem;
    color: var(--primary);
    font-family: "Rakkas", serif;
}

section p {
    font-size: 1.5rem;
}

#discover-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    padding: 0.75em 1.5em;
    font-size: 1.25rem;
    color: #fff;
    background-color: var(--primary);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
    text-decoration: none;
}

#discover-btn:hover {
    background-color: var(--secondary);
}

#pizza-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 4em;
    grid-row-gap: 1em;
}

#pizza-container h1 {
    grid-area: 1 / 1 / 2 / 4;
    text-align: center;
    margin: 0;
}

#pizza-container img {
    width: 100%;
    height: auto;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#pizza-container img:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
}

#pizza-container img:nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
}

#pizza-container img:nth-child(4) {
    grid-area: 2 / 3 / 3 / 4;
}


#basil-single {
    width: 15vw;
    position: fixed;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 768px) {
    #pizza-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }

    #pizza-container h1 {
        grid-area: 1 / 1 / 2 / 2;

    }

    #pizza-container img:nth-child(2) {
        grid-area: 2 / 1 / 3 / 2;
    }

    #pizza-container img:nth-child(3) {
        grid-area: 3 / 1 / 4 / 2;
    }

    #pizza-container img:nth-child(4) {
        grid-area: 4 / 1 / 5 / 2;
    }
}
