* {
    --primary: #D88434;
    --secondary: #9B2E27;
    --accent: #e44d26;
}

body, html {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    overflow: hidden;
}

body {
    overflow: hidden scroll;
    font-family: "Schoolbell", cursive;
}

.content-wrapper {
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
}

