* {
    --primary: #D88434;
    --secondary: #9B2E27;
}

body, html {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.content-wrapper {
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
}

/* nav */
header {
    width: 100%;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 1.5vmin);
}

nav > a {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img {
    width: 3.8vw;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 7em;
    margin: 0;
    padding: 0;
}

nav ul a {
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
    border-bottom: 3px solid transparent;
    transition: 200ms ease-in-out border-bottom-color;
}

nav ul a:hover {
    border-bottom-color: var(--primary);
}

nav ul a.active {
    color: var(--secondary);
}

nav ul a.active:hover {
    border-bottom-color: var(--secondary);
}
