.product-wrapper {
    border: 1px solid #eee;
    border-radius: 7px;
    margin-top: 5vh;
    padding: 1.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background: #fff;
}

.product-wrapper img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 7px;
    margin-bottom: 1rem;
}

.price-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.product-price {
    font-weight: bold;
    color: var(--accent);
    font-size: 1.2rem;
    margin: 0.5rem 0;
}


#error-text {
    width: 100%;
    color: var(--accent);
    text-align: center;
    display: none;
}

#error-text a {
    color: var(--primary);
    text-decoration: underline;
}
