#products-container {
    display: grid;
    /* This line handles the responsiveness automatically:
       It tries to fit as many 300px columns as possible.
       Found on https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/grid-template-columns */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.product-card {
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 1.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    transition: transform 0.2s, box-shadow 0.2s;
    background: #fff;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.price-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.product-price {
    font-weight: bold;
    color: var(--accent);
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.show-more {
    margin-top: 1rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--primary);
}

.cart-btn {
    display: block;
    background: #fff;
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: .4rem;
    border-radius: 100%;
    cursor: pointer;
    transition: background 0.2s;
}

.cart-btn:hover {
    background: var(--primary);
    color: #fff;
}
